{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<form class="form-inline" action="" method="post">{% csrf_token %}
<fieldset>

{% include "DP/project_navbar.html" %}

<!-- Form Name -->
<legend>Measurement Form</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="name">Name</label>
  <div class="controls">
    <input id="name" name="name" type="text" placeholder="Name" class="input-xlarge" required="">

  </div>
</div>

<br>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="id_oos">Object of Study</label><select id="id_oos" name="oos">
        {% for value, text in form.oos.field.choices %}
            <option value="{{ value }}" selected="selected">{{ text }}</option>
        {% endfor %}
     </select>
  <div class="controls">
  </div>
</div>

<br>

<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label" for="measurement type">Measurement Type</label>
  <div class="controls">
{% for choice in form.measure_type %}
{{ choice }}
{% endfor %}
  </div>
</div>

<br>

<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label" for="nullable">Nullable</label>
  <div class="controls">
    <label class="radio inline" for="nullable-0">
      <input type="radio" name="nullable" id="nullable-0" value="True" checked="checked" required="required">
      True
    </label>
    <label class="radio inline" for="nullable-1">
      <input type="radio" name="nullable" id="nullable-1" value="False" required="required">
      False
    </label>
  </div>
</div>
<br>
<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="default">Default Value</label>
  <div class="controls">
    <input id="default" name="default" type="text" placeholder="default" class="input-xlarge" required="">

  </div>
</div>
<br>
<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="description">Description</label>
  <div class="controls">
      <textarea id="description" name="description" placeholder="Describe your measurement."></textarea>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
    <button id="singlebutton" name="singlebutton" input type="submit" class="btn btn-primary">Create</button>
  </div>
</div>


</fieldset>
</form>

{{ form.errors }}

{% endblock %}
